.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1209bcff;
  color: white;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar-links li a,
.logout-btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}

.navbar-links li a:hover,
.logout-btn:hover {
  background-color: #111057ff;
  border-radius: 5px;
}